In [0]:
# this line is a comment line # sign turns lines into comments

# import libraries, after improting you can use pd for pandas or np for numpy
import pandas as pd
import numpy as np

In [16]:
# import movie.csv file from github repo as pandas framework and assign to variable 'movie'
games = pd.read_csv('https://raw.githubusercontent.com/gizemdal/dsgn337_p03/master/vgsales_2.csv')
# display a preview of the imported data
games.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [17]:
# you can see data types for all columns with dtypes command
games.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [0]:
# assign year to a variable
year = games['Year'] # save Series to variable

# From here we know that our year interval is [1980, 2020]
all_years = pd.unique(year)

# Don't include data after 2016
year_interval = [x for x in range(1980, 2017)]

# list of unique genres
all_genres = pd.unique(games['Genre'])

global_sales = games['Global_Sales']

In [0]:
# assign platform to a variable
platform = games['Platform']

# array of all unique platforms
all_platforms = pd.unique(platform)

In [0]:
# Create a platform -> number of games per year list, where index 0 -> 1980, index 1 -> 1981 ...
p_num_dict = {}

# Create a platform -> number of global sales per year list, where index 0 -> 1980, index 1 -> 1981 ...
p_sales_dict = {}

# Initialize values as zero arrays with num_years zeros (one zero per year)
for p in all_platforms:
  p_num_dict[p] = np.zeros(len(year_interval))
  p_sales_dict[p] = np.zeros(len(year_interval))

df = pd.DataFrame(games)
for tag, info in df.iterrows():
  if pd.isna(info['Year']):
    continue
  if int(info['Year']) > 2016:
    continue # Don't include data after 2016
  i_year = int(info['Year'])
  year_idx = i_year - 1980
  # get platform
  p = info['Platform']
  p_num_dict[p][year_idx] += 1
  p_sales_dict[p][year_idx] += float(info['Global_Sales'])

In [0]:
# Export data frame
from google.colab import files

platform_years = {}

# add platform name column
platform_years['Platform'] = all_platforms.tolist()

# for every year add another column
for i in range(len(year_interval)):
  sales = []
  for p in platform_years['Platform']:
    sales.append(p_sales_dict[p][i])
  platform_years['year_' + str(year_interval[i])] = sales

df = pd.DataFrame(platform_years, columns=platform_years.keys())
df.to_csv('platform_years.csv')
files.download('platform_years.csv')

In [0]:
# Sales per year dictionary

year_sales = {}

# for each year create an entry with initial value zero

for year in year_interval:
  year_sales[year] = 0

# for each game check year and add global sales for year
df = pd.DataFrame(games)
for tag, info in df.iterrows():
  if pd.isna(info['Year']):
    continue
  if int(info['Year']) > 2016:
    continue # Don't include data after 2016
  year_sales[info['Year']] += info['Global_Sales']

# Create new data frame and export it as CSV file
df_dict = {'Year': year_interval, 'Sales': list(year_sales.values())}
df_sales = pd.DataFrame(df_dict, columns=['Year', 'Sales'])
df_sales.to_csv('years_and_global_sales.csv')
files.download('years_and_global_sales.csv')

In [0]:
# Genres per year dictionary
top_genres_per_year = {}

year_genres = {} # Dictionary that keeps num of genre games per year

# for each genre, create dictionary entry
for genre in all_genres:
  year_genres[genre] = np.zeros(len(year_interval), dtype=float)

for tag, info in df.iterrows():
  if pd.isna(info['Genre']) or pd.isna(info['Year']):
    continue
  year_val = int(info['Year'])
  if year_val > 2016:
    continue # Don't include data after 2016
  year_genres[info['Genre']][year_val - 1980] += info['Global_Sales']

# Fill in top genres per year
for y in year_interval:
  top_genre = 0 # to be filled later
  max_val = -1
  for genre in all_genres:
    num_sales = year_genres[genre][y - 1980]
    if num_sales > max_val:
      max_val = num_sales
      top_genre = genre
  top_genres_per_year[y] = top_genre

# Create new data frame and export it as CSV file
df_dict_2 = {'Year': year_interval, 'Genre': list(top_genres_per_year.values())}
df_genres = pd.DataFrame(df_dict_2, columns=['Year', 'Genre'])
df_genres.to_csv('years_and_popular_genres.csv')
files.download('years_and_popular_genres.csv')